/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
    --light-main: #f783ac;
    --main-color: #f06595;
    --black: #121212;
    --grey: #868e96;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial; */
    font-family: Helvetica, Arial, sans-serif;
}

a:link,
a:visited {
    transition-duration: 0.4s;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    padding: 14px 16px;
    border-radius: 8px;
}

/* HEADER */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 32px;
    position: relative;
    padding: 0 48px;
}

.main-header a:hover,
.main-header a:active {
    color: var(--grey);
}

.go-pro:link,
.go-pro:visited {
    color: var(--main-color);
}

.main-header .go-pro:hover,
.main-header .go-pro:active {
    color: var(--light-main);
}
/* .main-header .go-pro:link,
.main-header .go-pro:visited {
    color: var(--main-color);
} */

.right-header,
.left-header {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 13px;
}

.dribbble-icon {
    height: 35px;
    width: auto;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0);
}

.log-in {
    position: relative;
}

.log-in::after {
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 50%;
    transform: translate(20px, 0);
}

.main-header .sign-up:link {
    background-color: rgb(248, 247, 244);
}

.main-header .sign-up:hover {
    background-color: rgb(245, 243, 240);
    color: black;
}

.hire:link,
.hire:visited {
    background-color: var(--black);
    color: white;
}

/* SECTION 1 */

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(./img/bg.jpg);
    background-size: cover;
    color: #fff;
    margin-bottom: 32px;
}

.discover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px;
    /* width: 100%; */
}

/* DISCOVER LINKS */
.discover-links:link,
.discover-links:visited {
    background-color: rgba(18, 18, 18, 0.5);
    border-radius: 100px;
    color: #f1f3f5;
    font-size: 14px;
}

.discover-links:hover,
.discover-links:active {
    background-color: #fff;
    color: var(--black);
    /* transition-duration: 0.9s; */
}

.discover-links:first-child:link,
.discover-links:first-child:visited,
.discover-links:first-child:hover,
.discover-links:first-child:active {
    background-color: #fff;
    color: var(--black);
}

.headline {
    width: 500px;
    text-align: center;
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 12px;
}

.website-description {
    width: 600px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.search-bar {
    background-color: #fff;
    width: 600px;
    display: flex;
    padding: 16px 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}
.search-bar:focus-within,
.search-bar:hover {
    box-shadow: 0 0 16px #f06595;
    transition-duration: 0.3s;
}

.search-icon {
    fill: var(--grey);
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    height: 24px;
    width: 100%;
    border: none;
}

.search-box:focus {
    /* border: none; */
    outline: none;
}

/* TRENDING SEARCHES */
.trending-searches {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* color: #fff; */
    gap: 16px;
    font-size: 14px;
    margin-bottom: 32px;
}

.trending-searches p {
    margin-bottom: 2px;
}

.trending-links:link,
.trending-links:visited {
    border: 0.1px solid #adb5bd;
    border-radius: 100px;
    padding: 8px 16px 2px 16px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.trending-links:hover,
.trending-links:active {
    border-color: #fff;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* SECTION 2 */

.section-2 {
    padding: 0 72px;
}

.sort-btn-container {
    display: flex;
    justify-content: space-between;
}

.sort-btn-container a:link,
.sort-btn-container a:visited,
.sort-btn-container a:hover,
.sort-btn-container:active {
    transition: none;
    padding: 8px 16px;
    font-weight: 400;
    border: 1px solid #dee2e6;
}

.sort-btn-container {
    font-size: 14px;
}

.sort-by-icon {
    height: 12px;
    stroke-width: 2;
    margin-bottom: 3px;
}

.sort-by,
.filters {
    display: flex;
    align-items: center;
    gap: 24px;
}

.filters {
    gap: 4px;
}

.sort-by:link,
.sort-by:visited {
    color: #495057;
}

.sort-by:hover,
.sort-by:active {
    color: var(--black);
    border-color: white;
    box-shadow: 0 0 1px 2px #ffdeeb;
}

.filter-icon {
    fill: var(--black);
    height: 16px;
    margin-bottom: 4px;
}

.sort-btn-container .filters:hover,
.filters:active {
    border-color: #ced4da;
}
